In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('../data/winequality-red.csv')

In [13]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [14]:
df.quality.value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [15]:
df['target'] = np.random.normal(50000, 23000, df.shape[0])

In [16]:
df['target']

0       32898.608329
1       48112.285313
2       35809.509474
3       36933.087557
4       37924.945788
            ...
1594    36981.973152
1595    52207.999462
1596    52428.910895
1597    57558.924739
1598    59501.485115
Name: target, Length: 1599, dtype: float64

In [18]:
df['bins'] = pd.cut(df['target'], bins = 20)

In [19]:
df['bins']

0       (25854.216, 32964.771]
1       (47185.882, 54296.437]
2       (32964.771, 40075.327]
3       (32964.771, 40075.327]
4       (32964.771, 40075.327]
                 ...
1594    (32964.771, 40075.327]
1595    (47185.882, 54296.437]
1596    (47185.882, 54296.437]
1597    (54296.437, 61406.992]
1598    (54296.437, 61406.992]
Name: bins, Length: 1599, dtype: category
Categories (20, interval[float64, right]): [(-31172.435, -23919.669] < (-23919.669, -16809.114] < (-16809.114, -9698.559] < (-9698.559, -2588.004] ... (82738.657, 89849.212] < (89849.212, 96959.767] < (96959.767, 104070.322] < (104070.322, 111180.877]]

In [20]:
df['bins'] = pd.cut(df['target'], bins = 20, labels=False)
df['bins']

0        8
1       11
2        9
3        9
4        9
        ..
1594     9
1595    11
1596    11
1597    12
1598    12
Name: bins, Length: 1599, dtype: int64